[core]
    excludesfile = ~/.gitignore
    pager = less -r

[color]
    ui = auto
    interactive = auto

[user]
    name = Byron Ruth
    email = b@devel.io

[alias]
    s = status
    st = status
    a = !git status . && git status
    au = !git status -u && git status
    aa = !git status . && git status -u && git status
    c = commit
    ci = commit
    co = checkout
    l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
    ll = log --stat --abbrev-commit
    d = diff --color-words
    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
