[core]
    pager = less -r

[color]
    ui = auto
    interactive = auto

[user]
    name = Byron Ruth
    email = b@devel.io

[alias]
    br = branch
    st = status
    a = !git status . && git status
    au = !git status -u && git status
    aa = !git status . && git status -u && git status
    ci = commit
    co = checkout
    graph = log --graph --full-history --all --color \
        --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s"

[merge]
    defaultToUpstream = true
